@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primaryTextColor);
  font-family: "Montserrat", serif;
}

body {
  background: var(--bg);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.disabled {
  display: none;
}

section.home {
  width: 85%;
  margin: 70px auto;
}

article h1 {
  font-family: Archivo, serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
}

article p {
  line-height: 1.5em;
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.1rem;
}

article img {
  box-shadow: 10px 10px 20px 5px #1f1f1f;
}

@media screen and (max-width: 1100px) {
  article h1 {
    font-size: 1.7rem;
  }

  article p {
    font-size: 1rem;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.4s;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(100px);
}

@media screen and (max-width: 700px) {
  .ReactModal__Content {
    width: 80% !important;
  }
}
